<h1><strong>{{titulo}}</strong></h1>
<h4>Peliculas Favoritas</h4>
<button (click)="onShowHide(true)" [class.ShowingData]="mostrarDatos===true">Mostrar Datos</button>
<button (click)="onShowHide(false)" [class.ShowingData]="mostrarDatos===false">Ocultar Datos</button>

  <ul *ngIf="mostrarDatos===true">
  <li>
  <strong>
  Pelicula: {{pelicula.id}}
  </strong>
  </li>
  <li>
  <strong>
  Pelicula: {{pelicula.titulo}}
  </strong>
  </li>
  <li>
  <strong>
  director: {{pelicula.director}}
  </strong>
  </li>
  
  <li>
  <strong>
  Año: {{pelicula.anio}}
  </strong>
  </li>
   <li>
  <strong>
  Genero: {{pelicula.genero}}
  </strong>
  </li>

  </ul>




  <p>
Cambio de Titulo
<input type="text" (keypress)="debug()" name="titulo" [(ngModel)]="pelicula.titulo">
</p>

<hr/>
<p>Listado de Peliculas</p>
<ul>
<ul *ngFor="let pel of peliculas" style=" margin-bottom:20px;">

  <li>
  <strong>
  Pelicula: {{pel.id}}
  </strong>
  </li>
  <li>
  <strong>
  Pelicula: {{pel.titulo}}
  </strong>
  </li>
  <li>
  <strong>
  director: {{pel.director}}
  </strong>
  </li>
  
  <li *ngIf="pelicula.anio">
  <strong>
  Año: {{pel.anio}}
  </strong>
  </li>
   <li>
  <strong>
  Genero: {{pel.genero}}
  </strong>
  </li>
  <hr/>
</ul>
  </ul>
