<h1><strong>{{titulo}}</strong></h1>
  <ul *ngIf="mostrarDatos===true">
  <li>
  <strong>
  Pelicula: {{pelicula.id}}
  </strong>
  </li>
  <li>
  <strong>
  Pelicula: {{pelicula.titulo}}
  </strong>
  </li>
  <li>
  <strong>
  director: {{pelicula.director}}
  </strong>
  </li>
  
  <li>
  <strong>
  Año: {{pelicula.anio}}
  </strong>
  </li>
   <li>
  <strong>
  Genero: {{pelicula.genero}}
  </strong>
  </li>

  </ul>


  <ul>
  <li>
  <strong>
  Pelicula: {{pelicula2.id}}
  </strong>
  </li>
  <li>
  <strong>
  Pelicula: {{pelicula2.titulo}}
  </strong>
  </li>
  <li>
  <strong>
  director: {{pelicula2.director}}
  </strong>
  </li>
  
  <li>
  <strong>
  Año: {{pelicula2.anio}}
  </strong>
  </li>
   <li>
  <strong>
  Genero: {{pelicula2.genero}}
  </strong>
  </li>

  </ul>